.project-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .square {
    display: fixed;
    justify-content: center;
    align-items: center;
    width: 44%;
    height: 78.5%;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .categories-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
  }
  
  .category {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1rem;
    font-size: 1.5rem;
    height: 400px;
    width: 700px;
    position: relative;
  }
  
  .category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
  }
  
  .back-button:hover {
    background-color: #ddd;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: ease-in-out 0.8s;
    cursor: pointer;
  }
  img:hover{
    filter: brightness(25%);
    
  }
  
  
